In [5]:
#Importing libraries
#!pip install zipfile
#!pip install kaggle 
import pandas as pd 
import kaggle 
import zipfile

#### To use Kaggle API, you need to create a token from Kaggle account and save it in the folder .kaggle on your laptop

In [6]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
Downloading london-bike-sharing-dataset.zip to c:\Users\swaro\Desktop\BikeRidesAnalytics\BikeRidesAnalytics

  0%|          | 0.00/165k [00:00<?, ?B/s]
100%|██████████| 165k/165k [00:00<00:00, 1.95MB/s]

In [7]:
zipfileName = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfileName, 'r') as file:
    file.extractall()

In [11]:
df = pd.read_csv('london_merged.csv')
df.head(10)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
5,2015-01-04 05:00:00,46,2.0,2.0,93.0,4.0,1.0,0.0,1.0,3.0
6,2015-01-04 06:00:00,51,1.0,-1.0,100.0,7.0,4.0,0.0,1.0,3.0
7,2015-01-04 07:00:00,75,1.0,-1.0,100.0,7.0,4.0,0.0,1.0,3.0
8,2015-01-04 08:00:00,131,1.5,-1.0,96.5,8.0,4.0,0.0,1.0,3.0
9,2015-01-04 09:00:00,301,2.0,-0.5,100.0,9.0,3.0,0.0,1.0,3.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [13]:
df.shape

(17414, 10)

In [14]:
df.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [15]:
columns = {

    'timestamp': 'Time',
    'cnt': 'Count',
    't1': 'Temperature',
    't2': 'Feels like Temperature',
    'hum' : 'Humidity',


}

df.rename(columns=columns, inplace=True)

In [18]:
df.head()

,Time,Count,Temperature,Feels like Temperature,Humidity,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1.0,0.0,1.0,3.0

In [19]:
df.Humidity = df.Humidity / 100
df

,Time,Count,Temperature,Feels like Temperature,Humidity,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.00930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.00930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.00965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,0.01000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.00930,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.00810,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,0.00810,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,0.00785,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,0.00760,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,0.00760,22.0,2.0,0.0,0.0,3.0

In [20]:
season = {
    '0.0' : 'spring',
    '1.0' : 'Summer',
    '2.0' : 'Fall',
    '3.0' : 'Winter'
}
df.season = df.season.astype('str')
df.season = df.season.map(season)
df.head()

,Time,Count,Temperature,Feels like Temperature,Humidity,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.00930,6.0,3.0,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.00930,5.0,1.0,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.00965,0.0,1.0,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,0.01000,0.0,1.0,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.00930,6.5,1.0,0.0,1.0,Winter

In [22]:
df.weather_code.unique()

array([ 3.,  1.,  4.,  7.,  2., 26., 10.])

In [23]:
weather = {
    '1.0': 'Clear',
    '2.0': 'Scattered Clouds',
    '3.0': 'Broken Clouds',
    '4.0': 'Cloudy',
    '7.0': 'Rain',
    '10.0': 'Thundersto',
    '26.0': 'Snow'
}
df.weather_code = df.weather_code.astype('str')
df.weather_code = df.weather_code.map(weather)
df.head()

,Time,Count,Temperature,Feels like Temperature,Humidity,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.00930,6.0,Broken Clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.00930,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.00965,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,0.01000,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.00930,6.5,Clear,0.0,1.0,Winter

In [25]:
df.rename(columns={'weather_code': 'weather'})

,Time,Count,Temperature,Feels like Temperature,Humidity,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.00930,6.0,Broken Clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.00930,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.00965,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,0.01000,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.00930,6.5,Clear,0.0,1.0,Winter
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.00810,19.0,Broken Clouds,0.0,0.0,Winter
17410,2017-01-03 20:00:00,541,5.0,1.0,0.00810,21.0,Cloudy,0.0,0.0,Winter
17411,2017-01-03 21:00:00,337,5.5,1.5,0.00785,24.0,Cloudy,0.0,0.0,Winter
17412,2017-01-03 22:00:00,224,5.5,1.5,0.00760,23.0,Cloudy,0.0,0.0,Winter
17413,2017-01-03 23:00:00,139,5.0,1.0,0.00760,22.0,Scattered Clouds,0.0,0.0,Winter

In [26]:
df.to_excel('bikes_final.xlsx', sheet_name='Data')

C:\Users\swaro\AppData\Local\Temp\ipykernel_23180\294357051.py:1: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  df.to_excel('bikes_final.xlsx', sheet_name='Data')